@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.heading-text {
  font-family: "Merriweather", serif;
}
.banner {
  width: 92%;
  height: 550px;
  margin: 50px;
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
}
.heading-area {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-text-area {
  width: 600px;
}
.text-area {
  width: 600px;
  margin: 0 auto;
}
.heading-main-h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.heading-main-h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
}
.heading-main-h5 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
.p-tag {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
}
.heading-short-text {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.heading-text {
  color: white;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

.categories {
  margin: 100px 50px 100px 50px;
}
.categories img {
  width: 800px;
  height: 500px;
  margin-top: 50px;
  margin-left: -50px;
}
.welcome-banner {
  width: 92%;
  height: 500px;
  margin: 50px;
  background-image: url(images/Vectorrr.png);
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  position: relative;
}
.welcome-banner-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  position: absolute;
}
.area-text {
  width: 50%;
  margin-left: 80px;
}
.area-img {
  width: 30%;
}

.welcome-banner h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 900;
  line-height: 78px;
  letter-spacing: 7.04px;
}

.welcome-banner img {
  height: 350px;
}
.btn-main {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 32px;
  background: #f00;
  border: none;
  border-radius: 8px;
  margin-top: 25px;
  border: 2px solid #f00;
}
.btn-main:hover {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  padding: 16px 32px;
  background: white;
  border: none;
  border-radius: 8px;
  border: 2px solid #f00;
}

.time-place {
  padding: 50px 100px;
  margin: 100px 50px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.text-area {
  margin-top: 50px;
}
.time-place h5 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
}
.color {
  color: #f00;
}

.coming-soon {
  width: 90%;
  padding: 50px 0px;
  margin: 100px 0px 0px 50px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.img-party {
  height: 200px;
  border: 8px solid #f00;
  border-radius: 50%;
  padding: 18px;
}
.area {
  width: 40%;
}
.area1 {
  width: 30%;
}

.sale {
  padding: 50px 100px 100px 100px;
  margin: 0px 50px;
  border-radius: 16px;
}

.discount {
  padding: 50px 30px;
  margin: 0px 50px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.blank-sec {
  height: 130px;
  max-width: 92%;
  margin-left: 50px;
  margin-top: -78px;
  background-color: #f00;
  border-radius: 15px 0px 15px 15px;
  position: relative;
  margin-bottom: 80px;
}
.img-1 {
  height: 400px;
  position: absolute;
  z-index: 2;
  margin-top: -140px;
}
.portfolio {
  padding: 50px 0px;
  margin: 0px 50px;
  border-radius: 16px;
  width: 660px;
}
.porfolio-img {
  padding: 0px 0px;
  margin: 0px 50px;
}
.p-img {
  height: 395px;
  margin: 5px;
}
.p-img:hover {
  opacity: 0.2;
}

.subscribe {
  padding: 50px 100px 100px 100px;
  margin: 100px 50px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.form {
  margin-left: 50px;
}
.email-1 {
  height: 30px;
  width: 300px;
  padding: 10px 20px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  font-size: 18px;
  color: #070211;
  margin-top: 40px;
}
.btn-form {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 32px;
  background: #f00;
  border: none;
  border-radius: 0px 50px 50px 0px;
  margin-left: -5px;
  border: 2px solid #f00;
}
.btn-form:hover {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  padding: 14px 32px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 0px 50px 50px 0px;
  margin-left: -5px;
  border: 2px solid #f00;
}
#msg {
  height: 100px;
  margin-left: 250px;
  margin-bottom: 15px;
}
.footer {
  padding: 100px 150px 100px 150px;
  background: #070211;
  color: white;
}
.contact-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.footer-social {
  padding: 30px 0px 30px 350px;
}
.footer-social img {
  height: 50px;
  margin: 10px;
}
.footer-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px 0px 0px;
}
